/*
 Find a list of CSS color keywords at
     www.w3schools.com/cssref/css_colornames.asp
*/

#mapDiv {
    width:500px;
    height:300px;
    border:1px solid #efefef;
    margin:auto;
    -moz-box-shadow:5px 5px 10px #000;
    -webkit-box-shadow:5px 5px 10px #000;
}